page-about {

}
.fab{
   color: white;
}
ion-fab-list[side=top] {
   
    right: 0;
}
ion-card-header{
    background: #2d6b5a;
    color: white !important;
}
ion-card-content{
    padding-top: 10px !important;
}